{% extends 'base.html.twig'%}
{% block body%}
 <a href="{{path('app_upload_image')}}">image</a>
 <a href="{{path('app_upload_video')}}">Video</a>
 <a href="{{path('app_upload_doc')}}">Document</a>
{% endblock %}